*{margin:0;padding:0;font-size:100%;box-sizing:border-box;border:none}
html{height:100%}
body{height:100%;font-size:14px;font-family:"Georgia",serif;line-height:1.3;margin:0;padding:0;color:#323232;background-color:#dcdcdc}
body,p,td,div{word-wrap:break-word}
p{text-align:justify;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;margin-bottom:1em}
h1,h2,h3,h4,h5,h6{font-family:Arial,Verdana,sans-serif;line-height:1.5}
h1{color:#000;font-size:200%;margin:.65em 0}
h2{color:#111;font-size:160%;margin:.875em 0}
h3{color:#111;font-size:140%;margin:1em 0}
h4{color:#111;font-size:120%;margin:1.1667em 0}
h5{color:#111;font-size:110%;margin:1.3em 0}
h6{font-size:100%;margin:1.5em 0}
a{-webkit-transition:color .1s ease-in-out;transition:color .1s ease-in-out;color:#0d6ea1;text-decoration:none;}
a:hover{color:#3593d9}
img{max-width:100%;max-height:400px;padding:1em;background-color:#fff;box-shadow:1px 1px 2px rgba(0,0,0,0.2)}
figure{margin-bottom:2em}
figcaption{font-style:italic}
mark{display:inline-block;padding:1em;background-color:#fad200}
pre{margin-bottom:1em;}
pre code{white-space:pre}
code{margin:0 2px;padding:0 5px;white-space:nowrap;border:1px solid #c8c8c8;background-color:#f0f0f0;border-radius:3px;font-family:Consolas,'Liberation Mono',Courier,monospace;font-size:.9em}
table{border-collapse:collapse;margin-bottom:2em;}
table caption{font-family:sans-serif;margin-bottom:1em;font-weight:900;font-size:1.2em}
table tr:nth-of-type(2n){background-color:rgba(0,0,0,0.05)}
table tr:nth-of-type(2n + 1){background-color:rgba(0,0,0,0)}
table th{background-color:rgba(0,0,0,0.05);font-family:sans-serif;}
table th:empty{display:none}
table th,table td{padding:.2em .4em;border:1px solid #b4b4b4}
dl{margin-bottom:2em;}
dl dt{font-weight:900;margin-bottom:.5em;font-family:sans-serif}
dl dd{margin-left:1em;}
dl dd > p{margin-bottom:.5em}
ul,ol{margin-left:2em;margin-bottom:1em}
li p{margin-bottom:.5em}
blockquote{margin:0 2em;color:#00648c;}
blockquote p{font-style:italic}
dd + dt{margin-top:1.5em}
hr{margin-bottom:2em}
article{display:inline-block;vertical-align:top;width:840px}
aside{height:100%;display:inline-block;vertical-align:top;width:100px;}
aside nav{width:100px;overflow:hidden;position:fixed}
#wrapcontent{width:960px;margin:auto}
#toc{-webkit-font-smoothing:antialiased;font-smoothing:antialiased;line-height:1.2 !important;width:300px !important;font-size:100%;position:absolute;left:0;top:0 !important;height:100% !important;max-height:100% !important;border-radius:0 !important;padding:0 20px 0 0 !important;}
#toc ul{margin-left:20px !important;}
#toc ul li a{font-weight:900;font-size:80% !important}
#toc ul ul li a{font-weight:500;color:#c8c8fa !important;font-size:76% !important}
#toc ul ul ul li a{color:#c8fac8 !important;font-size:72% !important}
#toc ul ul ul ul li a{color:#fac8c8 !important;font-size:68% !important}
#toc ul ul ul ul ul li a{color:#fafa96 !important;font-size:64% !important}
#toc > ul{margin-left:10px !important}
