<!doctype html>

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/tomorrow-night.css"/>
  <link rel="stylesheet" href="/styles/screen.css"/>
</head>

<div id="wrapcontent">
  <aside id=toolbar>
    <menu>
      <button id='toggle-sidebar' class="fa fa-th-list"></button>
      <button id='display-info' class="fa fa-info-circle"></button>
      <button id='adjust' class="fa fa-adjust"></button>
    </menu>
  </aside><aside id=toc>
    <menu></menu>
    <nav>
      {{&toc}}
    </nav>
  </aside><article>
    {{&content}}
  </article>
</div>

<script>
  infoObj = {
    lines: {{lines}},
    allLines: {{allLines}},
    paragraphs: {{paragraphs}},
    words: {{words}},
    allWords: {{allWords}},
    chars: {{chars}},
    images: {{images}},
    tables: {{tables}},
    code: {{code}},
    math: {{math}},
  }
</script>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/index.js"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({asciimath2jax: {delimiters: [['´', '´']]}})
</script>
<script src="/scripts/MathJax.js?config=AM_HTMLorMML"></script>
