<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/screen.css"/>
</head>
<body>

<div id="wrapcontent">

    <aside id=toolbar>
        <menu>
            <button class="info glyphicon glyphicon-info-sign"></button>
            <button class="adjust glyphicon glyphicon-adjust"></button>
        </menu>
    </aside><aside id=toc>
        <menu></menu>
        <nav>
            {{&toc}}
        </nav>
    </aside><article>
        {{&content}}
    </article>
</div>

<script type="text/javascript">

    info = {
        lines: {{lines}},
        allLines: {{allLines}},
        paragraphs: {{paragraphs}},
        words: {{words}},
        allWords: {{allWords}},
        chars: {{chars}},
        images: {{images}},
        tables: {{tables}},
        code: {{code}},
        math: {{math}}
    }

</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
<script src="js/index.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config(
        {
            asciimath2jax:{
                delimiters:[['´','´']]
            }
        }
    )
</script>
<script src="//cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=AM_HTMLorMML"></script>
</body>
</html>